<% include ./partials/header.ejs %>
<% include ./partials/navbar.ejs %>
<% include ./partials/scripts.ejs %>
<div class="jumbotron">
    <h3 class="text-center">Welcome to UTS Medical Appointment Service</h3>
    <%
    if(user){
    if(user.doctor === true){ %>
        <div class="row mt-3">
            <div class="col-6">
                <!--Show Details -->
                <div class="card testimonial-card">
                    <div class="card-header">Your Details</div>
                    <div class="avatar mx-auto white">
                        <img src="https://placeimg.com/200/190/people" class="rounded-circle" alt="woman avatar">
                    </div>
                    <% data.find((result) => { %>
                    <div class="card-body">
                        <h4 class="card-title"><%=result.name%></h4>
                        <hr>
                        <p><%=result.email%></p>
                        <p><%=result.stdId%></p>
                    </div>
                    <%})%>
                    <a href="/users/profile" class="btn btn-success">Edit Profile</a>
                </div>
                <!-- Card -->
            </div>
            <div class="col-6">
                <!--Show Total Appointment History-->
                <div class="card">
                    <div class="card-header">Appointments History</div>
                    <div class="row mt-5">
                        <div class="col-6">
                            <div class="card ml-2">
                                <span class="h1 text-center text-info" style="font-size: 150px">0</span>
                                <div class="card-footer">Appointments for Today</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="card mr-2">
                                <span class="h1 text-center text-info" style="font-size: 150px"><%=total%></span>
                                <div class="card-footer">Appointments So Far</div>
                            </div>
                        </div>
                    </div>
                    <a href="/users/apphis" class="btn btn-success mt-5">More Information</a>
                </div>
            </div>
        </div>
    <%} else {%>
        <div class="row mt-3">
            <div class="col-6">
                <!--Show Details -->
                <div class="card testimonial-card">
                    <div class="card-header">Your Details</div>
                    <div class="avatar mx-auto white">
                        <img src="https://placeimg.com/200/190/people" class="rounded-circle" alt="woman avatar">
                    </div>
                    <% studentData.find((result) => { %>
                    <div class="card-body">
                        <h4 class="card-title"><%=result.name%></h4>
                        <hr>
                        <p><%=result.email%></p>
                        <p><%=result.stdId%></p>
                    </div>
                    <%})%>
                    <a href="/users/profile" class="btn btn-success">Edit Profile</a>
                </div>
                <!-- Card -->
            </div>
            <div class="col-6">
                <!--Show Total Appointment History-->
                <div class="card">
                    <div class="card-header">Appointments History</div>
                    <div class="row mt-5">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <div class="card mr-2 mb-5">
                                <span class="h1 text-center text-info" style="font-size: 150px"><%=total%></span>
                                <div class="card-footer">Appointments So Far</div>
                            </div>
                        </div>
                        <div class="col-2"></div>
                    </div>
                    <a href="/users/apphis" class="btn btn-success mt-5">More Information</a>
                </div>
            </div>
        </div>
    <%}}%>

</div>
<% include ./partials/footer.ejs %>
