extends ./layout/header.pug

block content
  h1  List of students
  table.table.table-striped
    thead
      tr
        th  First Name
        th  Last Name
        th  Address
        th  Email
        th  Phone Number
        th  Current Semester
    tbody
      each student in students
        tr
          td= student.firstName
          td= student.lastName
          td= student.address
          td= student.email
          td= student.phoneNumber
          td= student.stdSemester
    